name: Docker Compose Linter

on:
  workflow_dispatch:

jobs:
  linter-job:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - run: pwd

      - run: ls

      - id: docker-compose-linter
        uses: docker-compose-linter/dclint-github-action@v1.4.1
        with:
          path: ./Docker-compose.yml
          recursive: true
          max-warnings: 1000

      - name: Log the changelog to Discord
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DC_LINTER_DISCORD_WEBHOOK_URL }}
          # content: ${{ steps.docker-compose-linter.outputs.GITHUB }}
          content: $GITHUB_STEP_SUMMARY