name: Changelog Generation and Posting

on:
    workflow_dispatch:
    push:
        tags:
            - "*"
# Successful run of ci.yml

jobs:
     changelog_generator:
        if: startsWith(github.ref, 'refs/tags/')
        name: Generate Changelog
        permissions:
          contents: write
        runs-on: ubuntu-latest
        steps:
        - name: Checkout the repo
          uses: actions/checkout@v4

        - name: Release Changelog Builder
          id: changelog-builder-action
          uses: mikepenz/release-changelog-builder-action@v5
          with:
            mode: hybrid
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        # - name: Log the changelog result
        #   run: echo ${{ steps.changelog-builder-action.outputs.changelog }}

        - name: Log the changelog to Discord
          uses: tsickert/discord-webhook@v7.0.0
          with:
            webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
            content: ${{ steps.changelog-builder-action.outputs.changelog }}

        - name: Write changelog to file
          run: echo "${{ steps.changelog-builder-action.outputs.changelog }}" >> CHANGELOG.md

        - name: Commit changelog to repo
        # Commit all changed files back to the repository
          uses: stefanzweifel/git-auto-commit-action@v6
          with:
            branch: main
