name: CI - Testing

on:
    push:
        branches:
            - main

#  Specify environment variables for ALL jobs in this file to use
# env:
#   DATABASE_URL: mongodb

jobs:
    run_server_tests:
        name: Run ExpressJS App tests
        runs-on: ubuntu-latest
        steps: 
            # Checkout a copy of the repo contents
            - uses: actions/checkout@v4
            # Set up NodeJS in the action runner instance
            # ubuntu-latest has NodeJS v20 installed already, so we might not need actions/setup-node action?
            # NPM commands work with NodeJS v20, but we may want to customise the NodeJS version that actions use
            - uses: actions/setup-node@v4
              with:
                node-version: "latest"
            - name: Install dependencies
              run: npm install
              
            - name: Setup MongoDB
              uses: supercharge/mongodb-github-action@1.12.0
              with:
                mongodb-version: 8

            
            - name: Run tests
              run: npm run test
              env:
                DATABASE_URL: mongodb://localhost:27017

